@font-face {
  font-family: oswald_regular;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: oswald_light;
  src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: openSans;
  src: url("../fonts/openSans/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0px;
  background-color: #f8faff;

}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  color: #15234c;

}

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 180px;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  text-align: center;
  background-color: #f0f3ff;

}

.uinfo {
  margin-left: 2px;
  padding-top: 5px;
  justify-content: center;
  background-color: #f0f3ff;
}

.uimage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.uname {
  margin: 0;
  font-size: 15px;
  font-family: oswald_regular;
  color: #15234c;
  background-color: #f0f3ff;
}

.address {
  margin: 3px 0 0;
  font-size: 10px;
  font-family: oswald_light;
  color: #41638e;
  background-color: #f0f3ff;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
  background-color: #f0f3ff;
}

.tag {
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 7px;
  border: 1px solid #659ae8;
  font-family: openSans;
  color: #659ae8;
  background-color: #ffffff;
}
